name: Go

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux]
        goarch: [amd64]

    steps:
      - uses: actions/checkout@v2

      - uses: wangyoucao577/go-release-action@v1.16
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}

#          project_path: "./cmd/pg_prompter"
#          binary_name: "pg_prompter"
#          ldflags: "-s -w"

#      - name: Set up Go
#        uses: actions/setup-go@v2
#        with:
#          go-version: 1.17
#
#      - name: Build
#        run: go build -v ./...
#
#      - name: Test
#        run: go test -v ./...
#
#      - uses: ncipollo/release-action@v1
#        with:
#          tag: draft
#          artifacts: "pg_prompter"
#          token: ${{ secrets.GITHUB_TOKEN }}